header h1{
    text-align: center;
    font-size: 4em;
    padding-top: 200px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 150px;
    color: black;
    
    background-position: left top;
    background-size: 1750px 800px;

}
body{
    background-image: url("http://cdn.pcwallart.com/images/sunlight-wallpaper-4.jpg");
}
@font-face{
    font-family: 'Contrail One' ;
    src: url('../fonts/contrail_one.ttf') format('truetype');
}


header{
    font-family: 'Contrail One';
}
article h3{
    color: #8C1018;
    }
@font-face{
    font-family: 'News Cycle';
    src: url('../fonts/news_cycle.ttf') format('truetype');
}
article{
    margin: 5px 0px;
    padding: 5px 5px;
    box-shadow: -1px -1px 6px #888888;
    font-family: 'News Cycle';
    background-color: #ffffff;
}
body{
    background-color:#ffecb3;
}
.b1{
    background-color:white;
    color: black;
}
.b2{
    background-color:black;
    color:#FFFFFF;
}
.hr1{
    font-size: 2em;
    color: white;
    background-color: #4d9900;
    padding: 5px;

}
.art1{
    margin-top: 300px;
}
