@font-face{
    font-family: 'Contrail One' ;
    src: url('../fonts/contrail_one.ttf') format('truetype');
}


header{
    font-family: 'Contrail One';
    text-align: center;
    color: white;
}
@font-face{
    font-family: 'News Cycle';
    src: url('../fonts/news_cycle.ttf') format('truetype');
}
article{
    font-family: 'News Cycle';
    text-align: center;
    margin-top: 200px;
    background-color: #80ff80;
}
body{
    background-image: url("http://www.plant-world-seeds.com/images/seed_images/CORIANDER/size3_500x500/CORIANDER.JPG");
}